/* header navbar */
.bg-purple {
    background-color: #B34AF4;
}

/* footer */
body.footer {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.footer {
    background-color:#4F54F5 ;
    color: #ffffff;
    padding: 80px 0;
    margin-top: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    width: 80px; /* Tamaño del logo */
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-links li {
    margin-right: 20px;
}

.footer-links a {
    text-decoration: none;
    color: #ffffff;
}

.footer-social {
    display: flex;
}

.social-icon {
    margin-right: 10px;
}

.social-icon img {
    width: 30px; /* Ajusta el tamaño de las imágenes sociales según tu preferencia */
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
}

.footer-bottom p {
    margin: 0;
}

.img-list{
    height: 5rem;
    object-fit: cover;
}

/*login */

/* Reset some default styles */
body.login-container, h1, h2, p, form, label, input, button {
    margin: 0;
    padding: 0;
}

body.login-container{
    font-family: 'Roboto', sans-serif;
}

/* Global styles */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #FFFFFF;
}

.login-content {
    width: 480px;
    padding: 48px;
    border: 1px solid #000000;
}

.l-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    text-align: center;
    margin-bottom: 32px;
}

.login-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: #000000;
}

.text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
}

.form .login-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 8px;
}

.input {
    width: 100%;
    height: 48px;
    padding: 12px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Agregado espacio vertical entre elementos */
}

.button {
    width: 100%;
    height: 48px;
    background: #000000;
    color: #FFFFFF;
    border: 1px solid #000000;
    margin-top: 10px; /* Agregado espacio inferior */
}

.button-google {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #000000;
}


.google-icon {
    margin-right: 8px;
}

.footer-login {
    text-align: center;
    margin-top: 24px;
}

.footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.footer-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    text-decoration: underline;
}




/*registro */
.registro-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
    gap: 32px;
    width: 480px;
    height: auto;
    border: 1px solid #000000;
    position: relative;
    margin: 40px auto 0; /* Ajustado el margen superior */
}

/* Section Title */
.registro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
}

/* Heading */
.registro-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #000000;
}

/* Text */
.text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #000000;
}

/* Form */
.registro-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}

/* Text Input */
.registro-input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
}

/* Placeholder */
.registro-input-group input {
    width: 100%;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #505050;
    padding: 8px;
    border: 1px solid #000000;
}

/* Button */
.registro-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.registro-button {
    width: 100%;
    height: 48px;
    background: #000000;
    border: 1px solid #000000;
    color: #FFFFFF;
}

/* Google Icon Button */
.button-google {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
    height: 48px;
    border: 1px solid #000000;
}

.button-google img {
    width: 24px;
    height: 24px;
}

/* Vector */
.registro-button::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000000;
    z-index: -1;
}

/* Text? */
.footer-registro {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin-top: 24px;
}

.footer-registro p {
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #000000;
}
/* Agrega tus estilos CSS aquí */
.container-profile {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
/* profile */

/* Estilos generales */
.body-profile {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    line-height: 1.6;
}

.container-profile {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Perfil */
.profile {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #e9ecef;
    border-radius: 10px;
    margin-bottom: 20px; /* Añade un margen para separar de otros elementos */
}

.profile img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover; /* Asegura que la imagen se ajuste sin distorsionarse */
}

.user-info h2 {
    color: #007bff; /* Da un color distintivo al nombre del usuario */
}

.user-info p {
    margin: 5px 0; /* Reduce el margen para los párrafos para compactar la información */
}

/* Historial de compras */
.order-history-p {
    padding: 20px;
    background: #e9ecef;
    border-radius: 10px;
}

.order-history-p h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-bottom: 20px; /* Añade espacio antes de la lista de historial */
}

.order-history-p ul {
    list-style-type: none;
    padding: 0;
}

.order-history-p li {
    margin-bottom: 10px; /* Espacio entre elementos de la lista */
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
}




 
.registro-container-profile{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
    gap: 32px;
    width: 480px;
    height: auto;
    border: 1px solid #000000;
    position: relative;
    margin: 40px auto 0; /* Ajustado el margen superior */
}



/*carrito */
.cart {
    font-family: 'Inter', sans-serif;
    background: #f4f4f4; /* Color de fondo general */
    margin: 0px;
    padding: 50px;
}

.carrito {
    text-align: center;
    color: #333;
}

/* Contenedor del carrito de compras */
.shopping-cart {
    max-width: 800px;
    margin: auto;
    background: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}
.container-cart {
    max-width: 1200px; /* O el ancho que prefieras */
    margin: auto;
    padding: 20px;
    background: #FFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para cada producto del carrito */
.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #eee; /* Si deseas una línea divisoria */
}

.product-img {
    width: 100px; /* O el tamaño que desees */
    height: auto;
    border-radius: 4px;
}


.product-title {
    font-weight: 600;
    font-size: 18px;
    color: #333;
}

.product-price {
    font-weight: 600;
    font-size: 16px;
    color: #333;
}

/* Resumen del pedido */
.order-summary {
    padding: 20px;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.order-summary-title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

/* Estilos para los detalles del resumen del pedido */
.shipping, .precio_total, .fecha_compra {
    font-size: 16px;
    margin-bottom: 5px;
}

/* Botón para continuar al pago */
.continue-btn {
    padding: 10px 20px;
    background-color: #A259FF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}
@media (max-width: 768px) {
    .container-cart {
        width: 100%;
        padding: 10px;
    }
    .product {
        flex-direction: column;
        align-items: flex-start;
    }
    .product img {
        margin-bottom: 10px;
    }
    .continue-btn {
        width: 100%;
    }
}

